/**
 * Common styling for the Bauble skin
 */

@import "variables.less";

// common properties for everything, should not break anything
// hopefully but one can never know
* {
	font-family: @font-family-normal;
	font-size: @font-size-normal;
	line-height: @line-height-default;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

// removing any wasted space from the document itself
html,
body {
	height: 100%;
}

body {

	display: flex;
	flex-direction: column;
	background-color: @colour-background;

	header {

		display: flex;
		flex-direction: column;
		padding: 10px 40px 0 40px;
		width: 100%;
		z-index: 10;
		position: fixed;
		background-color: @colour-header;
		box-shadow: @box-shadow-normal;

		div {

			display: flex;
			flex-direction: row;

			&#titlebar {
				align-items: center;
				padding-bottom: 5px;

				a {
					text-decoration: none;
					color: @colour-header-content;
					font-size: @font-size-normal;
					font-family: @font-family-artistic;
				}

				input, p.material-icons {
					transition: all 0.3s linear;
				}

				p.material-icons {
					color: @colour-header-content;
					margin: 0 0 0 20px;
					padding: 10px;
					border-radius: 100%;

					&:hover {
						cursor: pointer;
						background-color: @colour-accent;
					}

					&:active {
						background-color: transparent;
					}
				}

				form {
					display: flex;
					flex-direction: row;
					flex-basis: 50%;
					max-width: 800px;
					margin-left: auto;

					input {
						text-align: right;
						width: 100%;
						background: none;
						border: none;
						border-bottom: 1px solid transparent;
						padding: 5px;
						border-radius: 0;
						color: @colour-header-content;

						&:hover, &:focus {
							border-color: @colour-header-content;
						}
					}
				}
			}

			&#mw-navigation {
				display: none;
				flex-wrap: wrap;
				flex-direction: row-reverse;
				align-items: flex-start;
				justify-content: left;
				padding: 20px 0;
				border-top: 1px solid @colour-accent;

				div {
					display: flex;
					flex-direction: column;
					flex-basis: 15%;
					min-width: 240px;
					flex-grow: 1;
					margin: 0 20px 20px 0;
					padding: 0;

					li, a {
						color: @colour-header-content;
					}

					&.mw-portlet-body {
						margin: 0;
						padding: 0;
					}

					h3 {
						margin: 0 0 5px 0;
						padding: 7px 10px;
						color: @colour-header;
						background-color: @colour-header-content;
						font-size: @font-size-normal;
						font-weight: normal;
					}

					ul {
						list-style: none;
						display: flex;
						flex-direction: column;
						margin: 0;
						padding: 0 10px;

						li {
							padding: 5px 0;
						}
					}
				}
			}		
		}
	}

	main {

		width: @content-width;
		max-width: @content-width-max;
		margin: 80px auto 40px auto;
		//color: @colour-content;

		table, p, li, a, b, h1, h2, h3, h4, h5, h6, blockquote {
			text-align: justify;
			line-height: @line-height-normal;
			//color: @colour-content;
		}

		table, blockquote, p, a, b {
			margin-top: 15px;
		}

		code, kbd, pre, samp, .mw-code, .mw-body .mw-code, .mw-editfont-monospace {
			font-size: @font-size-code;
			font-family: @font-family-monospaced;
		}

		.mw-editfont-monospace {
			font-size: @font-size-small;
		}

		code, pre, #catlinks {
			background-color: @colour-accent;
			//border: 1px solid @colour-nonwhite;
		}

		code {
			padding: 2px 4px;
		}
		
		pre {
			padding: 15px;
			overflow-x: scroll;
			border-left: 4px solid @colour-nonwhite;
		}

		li {
			padding-left: 20px;
		}

		ul {
			list-style-type: disc;
		}

		ul, .mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul
		ol, .mw-content-ltr ol, .mw-content-rtl .mw-content-ltr ol {
			margin-left: 30px;
			margin-right: 30px;
		}

		h3, h4, h5, h6 {
			font-weight: normal;
			font-size: @font-size-normal;
			margin: 20px 0 10px 0;
			padding-bottom: 4px;
			border-bottom: 1px solid @colour-nonwhite;
		}

		h1, h1.firstHeading,
		h2, div#mw-pages h2 {
			border-bottom: 1px solid @colour-content;
			font-size: @font-size-heading;
			font-weight: normal;
			margin: 30px 0 10px 0;
			padding-bottom: 5px;
		}

		h1.firstHeading {
			margin-top: 20px;
		}

		blockquote {
			font-size: @font-size-small;
			display: block;
			font-style: italic;
			padding: 10px 40px 10px 20px;
			//background-color: @colour-accent;
			border-left: 4px solid @colour-nonwhite;
			margin-left: 10px;
		}

		table, .mw-datatable, .wikitable {
			text-align: left;
			width: 100%;
			th, td {
				padding: 5px 8px;
			}
		}

		div#mw-pages h3,
		div.mw-userlogin-help,
		#mw-indicator-mw-helplink > a {
			display: none;
		}

		input#wpWatchthis.oo-ui-inputWidget-input {
			opacity: 1;
		}

		.oo-ui-actionFieldLayout-button {
			width: auto;
		}

		img.thumbimage {
			width: 100%;
			height: auto;
		}

		ul#preftoc {
			padding: 0;
			margin: 6px 0;
			list-style-type: none;
			display: flex;
			flex-direction: row;
			li {
				padding: 8px 10px;
			}
		}
		fieldset {
			padding: 8px 10px;
			margin-top: 10px;
			margin-bottom: 10px;
			td {
				padding: 4px 8px;
				line-height: 1.5;
			}
		}

		#catlinks {
			margin: 30px 0 20px 0;
			padding: 10px 20px;
			border: none;
			border-left: 4px solid @colour-nonwhite;
		}

		.mw-htmlform {
			margin-bottom: 15px;
		}

		div#siteNotice, div.usermessage, div.mw-indicators {
			visibility: collapse;
		}
		
	}

	footer {
		margin: 0;
		background-color: @colour-content;
		margin-top: auto;
		ul {
			list-style: none;
			display: flex;
			width: @content-width;
			margin: 40px auto;
			padding: 0;
			max-width: @content-width-max;
			flex-direction: row-reverse;
			justify-content: space-between;
			li, a, a:visited, a:focus, a:hover {
				text-decoration: none;
				font-size: @font-size-small;
				color: @colour-nonwhite;
			}
		}
	}

	a.new, header div#mw-navigation div li.new a {
		color: @colour-red;
	}

	.center,
	.center * {
		margin: auto;
		text-align: center;
	}

	#p-search h3 {
		.hidden;
	}

}
