/**
 * Variables used in the various .less files around the skin,
 * to make editing things easier to avoid re-typing stuff.
 *
 */

// Some random leftover declarations from the Example skin that
// I am currently too afraid to delete in case something breaks
@width: 66em;
@border: #ccc;
.hidden() {
	// To hide objects, but keep them accessible for screen-readers
	position: absolute;
	top: -9999px;
}

// Font declarations herein, using Google Fonts
@font-family-normal: 'Noto Sans', sans-serif; //'Roboto', sans-serif;
@font-family-monospaced: 'Noto Mono', monospace; // 'Inconsolata', monospace;
@font-family-artistic: 'Noto Sans', sans-serif; // 'Merienda', cursive;
@font-size-normal: 1.0em;
@font-size-heading: 1.1rem;
@font-size-small: 0.9rem;
@font-size-code: 0.8rem;
@line-height-default: 1.0;
@line-height-normal: 1.6;

// Content width management
@content-width: 70%;
@content-width-mobile: 90%;
@content-width-max: 1000px;
@content-width-max-mobile: initial;

// Colours declared herein
@colour-header: rgb(255,255,255);
@colour-header-content: rgb(0,0,0);
@colour-background: rgb(255,255,255);
@colour-content: rgb(0,0,0);
@colour-accent: rgb(240,240,240);
@colour-nonwhite: rgb(200,200,200);
@colour-red: rgb(180,10,10);

// Miscellanea
@box-shadow-normal: 0 0 2px @colour-content;
